<h1>Welcome to Ember-Bootstrap</h1>

<div class="row">
  <div class="col-md-6">
    <a href="http://emberjs.com" target="_blank">Ember.js</a>
  </div>
  <div class="col-md-6">
    <a href="http://getbootstrap.com" target="_blank">Bootstrap</a>
  </div>
</div>